body {
  background-color: powderblue;
}
h1 {
  color: black;
  font-family: verdana;
  text-align: center;
}
h3 {
  color: black;
  font-family: verdana;
  text-align: center;
}
p {
  color: black;
  font-family: verdana;
}
ul {
  color: black;
  font-family: verdana;
}