body {
  background-color: powderblue;
  margin: 0;
  padding: 0;
}
h1 {
  color: black;
  font-family: verdana, sans-serif;
  text-align: center;
}
h3 {
  color: black;
  font-family: verdana, sans-serif;
  text-align: center;
}
h6 {
  color: black;
  font-family: verdana, sans-serif;
  text-align: center;
  background-color: #777;
  padding: 20px;
  margin: 0;
}
p {
  color: black;
  font-family: verdana, sans-serif;
}
ul {
  color: black;
  font-family: verdana, sans-serif;
}

nav ul {
  background-color: #777;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li a {
 display: block;
 padding: 20px;
 font-size: 15px;
 color: #fff;
 text-decoration: none;
 text-transform: uppercase;
 font-family: verdana, sans-serif;
}
nav ul li a:hover {
  background-color: #ccc;
  color: #000;
}

section {
  width: 100%;
  float: left;
}

.indexbackground {
  background: url("iit-crown-hall.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: powderblue;
}

.primaryresumebackground {
  background: url("building.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: powderblue;
}

.secondaryresumebackground {
  background: url("house.png") no-repeat center center fixed;
  background-size: cover;
  background-color: powderblue;
}